.heroimg{
    width: 80%;
    max-width: 600px;
    display: block;
    margin: auto;
}

#tech img{
    width: 100px;
}

#links{

    a{
        display: block;
        max-width: 500px;
        margin: 10px auto;
        text-align: center;
    }
}