@use 'variables' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: $background;
	color: $color;
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	margin: 20px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.btn {
	$gradient-end: scale-color($action-color, $lightness: -60%);

    background: linear-gradient($action-color, $gradient-end);
	border-radius: 8px;
    color: $color;
    text-decoration: none;

	&:hover {
		background: linear-gradient($gradient-end, $action-color);
	}
}

h1,
h2,
h3,
h4 {
	text-align: center;
}

p {
	margin: auto;
	max-width: 80%;
	width: 1000px;
}
